* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face{
  src: url(./Fonts/Montserrat-Bold.ttf);
  font-family: Monts;
  font-style: italic;
  font-weight: 600;
}

#red-line {
  background-color: #ea0000;
  color: white;
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
  border-bottom: dotted;
}
#red-line p{
  font-family: Mons;
  font-weight: 600;
}

#header-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#logo {
  width: 70px;
  padding-top: 5px;
  text-align: center;
}

#section-a {
  background-color: rgba(201, 228, 236, 0.356);
  padding: 20px;
}

#section-a h1 {
  color: #55b222;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}

.p-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
}

#yellow-line {
  background-color: #ffe981;
  position: relative;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0%);
  width: 30%;
  height: 30px;
  margin-top: -15px;
  clip-path: polygon(95% 0, 100% 50%, 95% 100%, 5% 100%, 0% 50%, 5% 0%);
}

#yellow-line p {
  text-align: center;
  padding-top: 5px;

}

#warning {
  color: #ea0000;
}

.fa-exclamation-triangle {
  color: #ea0000;
}

#section-b {
  padding: 30px 20px 30px 20px;
  text-align: center;
}

#section-b-blue-line {
  color: #013169;
  font-weight: 600;

}
#section-b-red-text{
  color: red;
}
#section-b-underline{
  text-decoration: underline;
}

.section-c-div {
  text-align: center;
}

.section-c-div p {
  padding-top: 30px;
  color: rgba(185, 184, 184, 0.856);
}

.section-c-div-2 {
  text-align: center;
  color: rgba(185, 184, 184, 0.856);
  padding-top: 20px;
}

.section-c-email {
  text-align: center;
  color: rgba(185, 184, 184, 0.856);
  padding-top: 20px;
}

/* FOOTER START */
nav {

  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;

}

nav li {
  display: inline-block;
  font-size: 18px;
  padding: 20px;

}

#footer-2 p {
  text-align: center;
  color: rgba(185, 184, 184, 0.856);
  padding-top: 20px;
}

/* FOOTER END */

/* PRODUCT CARD START */

.flex-grid {
  display: flex;
}

.flex-grid .col {
  flex: 1;
}

.flex-grid-thirds {
  display: flex;
  justify-content: space-between;
}

.flex-grid-thirds .col {
  width: 32%;
}

.flex-grid {
  margin: 0 0 20px 0;
}

.col {
  background: rgb(179, 27, 27);
  padding: 20px;
}


.card-wrapper {
  height: 100%;
  width: 100%;
  max-height: 250px;
  max-width: 600px;
  background-color: rgb(179, 27, 27);
  /* padding: 15px; */
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  position: relative;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0%);
}

.line {
  width: 100%;
  height: 1px;
  background-color: black;
  top: 50px;
  position: absolute;
}

.card-body {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: calc(100% - 40px);
  padding: 20px;
}

#padding-div {
  padding-top: 10px;
}

.left {
  flex: 4;
  position: relative;
}

.product-photo {
  height: 100%;
  width: 100%;
  object-fit: fill;
  border-radius: 5px;
}

.coin-wrapper {
  position: absolute;
  right: -40px;
  top: calc(40% - 40px);
  z-index: 1;
  border-radius: 50%;
  background-color: rgb(179, 27, 27);
  padding: 2px;
}

.coin-photo {
  height: 80px;
  width: 80px;
}

.right {
  flex: 6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 25px;
  color: #ffe981;
}

.regular-price {
  font-size: 20px;
  color: white;
}
.regular-price span{
  background: linear-gradient(to left top, transparent 47.75%, currentColor 49.5%, transparent 52.25%);
}

.discount-price {
  font-size: 40px;
  color: #ffe981;
  font-weight: 800;
}

.banner {
  padding: 10px 15px;
  font-size: 15px;
  background-color: #ffe981;
  color: black;
  clip-path: polygon(100% 0, 95% 50%, 100% 100%, 0% 100%, 5% 50%, 0% 0%);

}

.red {
  color: #ea0000;
}

.order-button {
  height: 60px;
  border: 1px solid rgba(0, 0, 0, 0.445);
  border-radius: 5px;
  text-decoration: none;
  background-color: #00c560;
  padding: 15px 30px;
  font-size: 25px;
  color: white;
  cursor: pointer;
  margin-top: 5px;
}


/* PRODUCT CARD END */

#divider{
  height: 30px;
}


/* Media query start*/

@media only screen and (max-width: 592px) {
  .card-body {
    width: 90%;
    padding: 0 30px 0 30px;
  }

  .order-button {
    width: auto;
    height: 40px;
    font-size: 15px;
    padding: 10px 15px;
  }

  .banner {
    font-size: 12px;
  }

  .discount-price {
    font-size: 30px;
  }

  .product-photo {
    position: relative;
  }

  .section-c-div-2 {
    padding: 30px 30px 20px 30px;
  }

  footer nav li {
    font-size: 15px;
    display: inline;
    padding: 0;
  }
  #center{
    padding-right: 40px;
    padding-left: 40px;
  }
  #center-2{
    padding-right: 40px;
    padding-left: 40px;
    margin-top: 100px ;
  }
  

  #red-line p{
    font-size: 11px;
  }
 
  #yellow-line p{
    padding: 5px 10px 0 10px;
    font-size: 13px;
  }
}

@media (max-width: 667px) {
  .flex-grid,
  .flex-grid-thirds {
    display: block;
  }

  .flex-grid,
  .flex-grid-thirds .col {
    width: 100%;
    margin: 0 0 10px 0;
  }
  .coin-photo {
    width: 65px;
    height: 65px;
  }
  .coin-wrapper{
    background-color: rgba(255, 255, 255, 0) !important;
  }
  #center{
    padding-right: 50px;
    padding-left: 50px;
  }
  #center-2{
    padding-right: 50px;
    padding-left: 50px;
    margin-top: 40%;
  }
}

@media only screen and (max-width: 925px) {
  footer nav li {
    font-size: 18px;
    display: inline;
    padding: 0;
  }

  #yellow-line {
    width: 500px !important;
  }
}

@media only screen and (max-width: 568px) {
  footer nav li {
    font-size: 13px;
    display: inline;
    padding: 0;
  }
  #yellow-line{
    clip-path: inset(0 0 0 0);
    width: 100% !important;
  }
}

@media only screen and (max-width: 1650px) and (min-width: 925px) {
  #yellow-line {
    width: 600px !important;
  }
  #center-2{
    margin-top: 30px;
  }
}

/* Media query end */